 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>OSSW is an open source firmware for Weloop Tommy/Chronos Eco watch. With this firmware you can define custom screens and assign custom actions to the buttons. At this stage OSSW watch can be used standalone or with an android (4.3+) phone. You can extend functionality with available extensions or by writing your own extension.</p>
                    <p>Like this project and want to help me with making it awesome? Please donate any amount here:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                
                	<div class="col-lg-8 col-lg-offset-2 text-center">
                	    <a class="btn btn-lg btn-outline" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=sl0w0rm%40gmail%2ecom&lc=GB&item_name=Open%20source%20smart%20watch&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">
                    	    Donate in EUR
                    	</a>
                	</div>

                </div>
                <div class="col-sm-6">
                	<div class="col-lg-8 col-lg-offset-2 text-center">
                   		<a class="btn btn-lg btn-outline" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=sl0w0rm%40gmail%2ecom&lc=GB&item_name=Open%20source%20smart%20watch&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">
                    	    Donate in USD
                    	</a>
                	</div>
                    
                </div>
            </div>
        </div>
    </section>