 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>OSSW is an open source firmware for Weloop Tommy/Chronos Eco watch. With this firmware you can define custom screens and assign custom actions to the buttons. At this stage OSSW watch can be used standalone or with an android (4.3+) phone. You can extend functionality with available extensions or by writing your own extension.</p>
                </div>
            </div>
        </div>
    </section>