
    <!-- Portfolio Grid Section -->
    <section id="extensions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Extensions</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <p>
                   		<ul>
                    	<li><p><a href="https://play.google.com/apps/testing/com.althink.android.ossw.plugins.ipsensorman" class="extension-link">IpSensorMan</a> - exposes heart rate, cycling speed and cadence.</p></li>
                    	<li><p><a href="https://play.google.com/apps/testing/com.althink.android.ossw.plugins.musicplayer" class="extension-link">Music player</a> - controls music player and exposes information like current track name, author and album name.</p></li>
                    	<li><p><a href="https://play.google.com/apps/testing/com.althink.android.ossw.plugins.tasker" class="extension-link">Tasker</a> - allows to run a task defined in Tasker.</p></li>
                    	<li><p><a href="https://play.google.com/apps/testing/com.althink.android.ossw.plugins.sample" class="extension-link">Sample</a> - sample extension with available source code.</p></li>
                    	<ul>
                    </p>
                </div>
            </div>
        </div>
    </section>